# Python Function

In [1]:
def ar1():    # arr1 is a function name, def is the python keyword used in the function
    print('Good moring')

In [2]:
def ar1():     # it is a fuction name
    print('Good morning')
ar1()        # call the function name

Good morning

In [3]:
def greet():
    print('hello')
    print('good moring')
greet()

hello
good moring

In [4]:
def greet(): #the code is very large 
    print('hello')
    print('good moring')
greet()
def greet():
    print('hello')
    print('good moring')
greet()
def greet():
    print('hello')
    print('good moring')
greet()

hello
good moring
hello
good moring
hello
good moring

In [5]:
def greet():
    print('hello good morning')
greet()

hello good morning

In [6]:
def greet():
    print('hello good morning')
greet()
greet()
greet()

hello good morning
hello good morning
hello good morning

In [7]:
def add(x,y): #2 parameter is given
    c=x+y
    print(c)
add(5,6,7,8) # in this line the 4 argument is there so error occur

TypeError: add() takes 2 positional arguments but 4 were given

In [ ]:
def add(x,y):
    c=x+y
    print(c)
add(5,6)

In [ ]:
def add(x,y,z,m):
    c=x+y+z+m
    print(c)
add(1,4,5,6)

In [8]:
def greet():
    print('hello')
    print('good noon')
greet()

hello
good noon

In [9]:
def greet():
    print('hello')
    print('good noon')
greet()
def add(x,y):
    c=x+y
    print(c)
add(5,6)

hello
good noon
11

In [10]:
def greet():
    print('hello')
    print('good noon')
def add(x,y):
    c=x+y
    print(c)
def sub(x,y):
    d=x-y
    print(d)
greet()
add(5,4)
sub(10,2)

hello
good noon
9
8

In [11]:
def add_sub(x,y):
    c=x+y
    d=x-y
    print(c)
    print(d)
add_sub(10,5)

15
5

In [12]:
def add_sub(x,y): # it return the tuple value
    c=x+y
    d=x-y
    return c,d
add_sub(10,5)

(15, 5)

In [13]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d
result1,result2=add_sub(10,5)
print(result1,result2)

15 5

# Formal and Actual Arguments

In [14]:
def person(name,age):    # Formal Argument
    print(name)
    print(age)
person('nit',23)          #Actual Argument

nit
23

In [15]:
def person(name,age):
    print(name)
    print(age)
person(23,'nit')

23
nit

# Keyword argument

In [16]:
def person(name,age):
    print(name)
    print(age+1)
person(age=23,name='nit')

nit
24

In [17]:
def person (name,age1,city):
    print(name)
    print(age1+1)
    print(city)
person(age1=23,name='nit',city='hyd')

nit
24
hyd

# Default Argument

In [18]:
def person(name,age=18):
    print(name)
    print(age)
person('nit')

nit
18

In [19]:
def person(name='nit',age):
    print(name)
    print(age)
person('nit')

SyntaxError: parameter without a default follows parameter with a default (3307125415.py, line 1)

# Variable length arguments

In [20]:
def sum(a,b):
    c=a+b
    return c
sum(2,6)

8

In [21]:
def sum(a,b):
    c=a+b
    return c 
# foramal argument is not equal to the actual argument
sum(2,6,7,9)

TypeError: sum() takes 2 positional arguments but 4 were given

In [22]:
def sum(a,*b):  # (*) is used to variable length 
    c=a+b
    return c
sum(2,6,9,2)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [25]:
def sum(a,*b):  
    # c=a+b
    print(type(a))  # a= 2 (int)
    print(type(b))  # b=(6,9,2) it is a tuple
    
sum(2,6,9,2)

<class 'int'>
<class 'tuple'>

In [32]:
def sum(a,*b):
    c=a
    for i in b:
        c=c+i  # c=5
    print(c)
sum(5,6,4,6,8,1,5)

35

# Kwargs

In [33]:
def person():
    person('alexa',36,'jhon',9876)

In [35]:
def person(name,*data):
    print(name)           # name='alexa'
    print(data)            #data=36,'jhon',9876
person('alexa',36,'jhon',9876)

alexa
(36, 'jhon', 9876)

In [36]:
def person(name,*data):
    print('name')
    print(data)
person('alexa',age=26,home_place='southcity',mob=9876)

TypeError: person() got an unexpected keyword argument 'age'

In [37]:
def person(name,**data):       # in kwargs we use (**)
    print('name')
    print(data)
person('alexa',age=26,home_place='southcity',mob=9876)

name
{'age': 26, 'home_place': 'southcity', 'mob': 9876}

# Global and Local variable

In [38]:
a=20
print(a)

20

In [42]:
a=30  # global variable
def some():
    b=10     #local variable
    print('in function',b)
print('out function',a) #30 display

out function 30

In [44]:
a=30
def some():
    b=10
    print('in function',b)
some()       # call the b value
print('out function',a)

in function 10
out function 30

**define the global variable inside the function**

In [48]:
a=50
def some():
    global a  # global variable inside the function
    b=15 # local variable
    print('in function',b)
    print('out function',a)# call the global var inside the function
some()
print('out function',a)   # global var

in function 15
out function 50
out function 50

In [50]:
x=90
def key():
    global x
    x-=10
key()
print(x)

80

# wap to count the even or odd number

In [55]:
def count(lst):
    even=0
    odd=0
    for i in lst:
        if i % 2==0:
            even +=1
        else:
            odd +=1
    return even,odd
lst=[1,2,3,4,5,6,7,8,9]
even,odd=count(lst)
print(even)
print(odd)

4
5

**print in formated**

In [58]:
def count(lst):
    even=0
    odd=0
    for i in lst:
        if i%2==0:
            even+=1
        else:
            odd+=1
    return even,odd
lst=[1,2,4,5,6,2,5,8,9,3]
even,odd=count(lst)

print('even number:{} and odd number:{}'.format(even,odd))

even number:5 and odd number:5

# Fibonacci series

In [59]:
def fib(n):
    a=0
    b=1
    print(a)
    print(b)
    for i in range(0,n):#These process is continue so we use the loop
        c=a+b  
        a=b
        b=c
        print(c)
fib(10)

0
1
1
2
3
5
8
13
21
34
55
89